{
  "$schema": "{{ faas_base }}/schema.json",
  "@context": "{{ faas_base }}/context.jsonld",
  "@id": "{{ faas_base }}",
  "data": [
    {% for item in faas_functions %}{
      "@type": "hydra:ApiDocumentation",
      "@id": "_:{{ item.id }}",
      "hydra:entrypoint": "{{ item.entrypoint }}"
    }
    {% if not loop.last %},
{% endif %}
    {% endfor %}

  ],
  "meta": {
    "json-ld": "https://json-ld.org/playground/#json-ld=https://osm-faas.etica.ai/",
    "uptime": "https://stats.uptimerobot.com/jYDZlFY8jq"
  }
}