{
  "$schema": "{{ faas_base }}/schema.json",
  "@context": "{{ faas_base }}/context.jsonld",
  "@id": "{{ faas_base }}",
  "data": {
    "@type": "vurnr:todo_ops",
    "urn:resolver:index": "https://urn.etica.ai/urn:resolver:index",
    "urn:resolver:exemplum": "https://urn.etica.ai/urn:resolver:exemplum",
    "urn:resolver:exemplum?=u2709=.tsv": "https://urn.etica.ai/urn:resolver:exemplum?=u2709=.tsv",
    "urn:resolver:ping?=u2709=.txt": "https://urn.etica.ai/urn:resolver:ping?=u2709=.txt",
    "urn:resolver:_summary": "https://urn.etica.ai/urn:resolver:_summary"
  },
  "meta": {
    "json-ld": "https://json-ld.org/playground/#json-ld=https://osm-faas.etica.ai/",
    "uptime": "https://stats.uptimerobot.com/jYDZlFY8jq"
  }
}